<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg" style="background-color: yellow">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/imagenes/logo.png}"
                     alt="Logo Kebab Islas Canarias"
                     width="100"
                     height="50">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           th:href="@{/}">Página principal</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && hasAuthority('ROLE_USER')" class="nav-item">
                        <a class="nav-link"
                           th:href="@{/mis-pedidos/}">Mis pedidos</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && hasAuthority('ROLE_ADMIN')">
                        <a class="nav-link"
                           th:href="@{/gestion-productos/}">Gestionar productos</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && hasAuthority('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link"
                           th:href="@{/gestion-pedidos/}">Gestionar pedidos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link"
                           th:href="@{/iniciar-sesion/}">Iniciar sesión</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"
                        class="nav-item">
                        <b class="nav-link" th:text ="${'Iniciado sesión como ' + #authentication.getPrincipal().getUsername()}"></b>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link"
                           href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/pedido/}"><i class="fa-solid fa-cart-shopping"></i> Realizar pedido</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>
</div>